body {
    margin: 0;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
}

.photo {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

img {
    height: 300px;
    width: auto;
}

h1 {
    font-style: normal;
    padding-top: 15px;
    font-size: 35px;
}

h2 {
    font-style: italic;
    font-size: 17px;
    color: grey;
}

h3 {
    padding-top: 20px;
}

.social {
    text-decoration-line: underline;
    font-style: italic;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    font-size: 17px
}

.blue {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 90px;
    padding-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

.topics {
    padding-top: 30px;
    padding-left: 30px;
}

li {
    font-style: italic;
    font-size: 17px;
    color: grey;
}