body {
    margin: 0;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
}

.container {
    display: flex;
    padding-top: 150px;
    justify-content: space-between;    
    width: 500px;
}

h1, h2, h3 {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.photo {
    display: flex;
    text-align: center;
    flex-direction: column;
}

img {
    height: 300px;
    width: auto;
}

h1{
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    /* font-style: italic; */
}

h2 {
    /* font-style: italic; */
    padding-bottom: 15px;
    font-size: 20px;
}

h3 {
    /* font-style: italic; */
    color: black;
    font-size: 15px;
}


.social {
    /* font-style: italic; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(48, 48, 48);
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: blue;
}

.social {
    text-align: left;
    
}

.blue {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 90px;
    padding-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

.gallery {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;   
}

.frame {
    padding: 25px;
}

.art {
    cursor:pointer;
}